<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Tobacco Info
  body
    h3 Tobacco Info
    br
    form(action="/tobacco/edit" method="post")

      table
        tr
          th name
          td
            input(type="text", name="name", value=tobacco.name)
            input(type="hidden", name="id", value=tobacco.id)
        tr
          th price
          td
            input(type="text", name="price", value=tobacco.price)
            
           
        tr
          th country
          td
            input(type="text", name="country", value=tobacco.country)
            
        tr
          th amount
          td
            input(type="text", name="amount", value=tobacco.amount)
          
        tr
          th &nbsp;
          td
            input(type="submit", value="Save")       